<!DOCTYPE html>
<html>

<head>
	
	<title> Projeto redação </title>
   
    <!--Chamando CSS-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">

 <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">     --> 


   <!--Chamando Javascript-->

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-dropdownhover.min.js"></script>




</head>


<body style="background:#B3CFE8">

	<!--Topo-->
<header class="header-fixo">	
<nav class="navbar navbar-fixed-top hidden-xs" role="banner" >

  <div class="container-fluid">

    <div class="navbar-header">

      <a href="index.html" class="" style="">
      <img src="img/logo.png" class="img-responsive" style="width: 170px; left: 80px;">
        </a>
    </div>

    <ul class="nav">

      <li class="nav-item mr-2" ><a href="#" data-toggle="modal" data-target="#envioredacao" class="nav-link" style="color: black;">ENVIO DE REDAÇÔES</a></li>
      <li class="nav-item"><a href="#exampleModal" data-toggle="modal" data-target="#" class="nav-link" style="color: black;">LOGIN</a></li>
    </ul>

 
 
  </div>

</nav>
</header>


<!--slider-->

<div class="slider hidden-sm hidden-xs">        
    <div id="Slider-Main" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#Slider-Main" data-slide-to="0" class="active"></li>
          <li data-target="#Slider-Main" data-slide-to="1"></li>
          <li data-target="#Slider-Main" data-slide-to="2"></li>
          <li data-target="#Slider-Main" data-slide-to="3"></li>
          <li data-target="#Slider-Main" data-slide-to="4"></li>


        </ol>

        <div class="carousel-inner container">
          <div class="carousel-item active">
              <img class="d-block w-100" src="img/img1.jpg" height="450" alt="First slide" style="width:400px">
        </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="img/img2.jpg"  height="450" alt="Second slide" style="width:400px">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="img/img3.jpg" height="450"alt="Third slide" style="width:400px">
          </div>
    
             <div class="carousel-item">
            <img class="d-block w-100" src="img/img4.jpg" height="450"alt="fourth slide" style="width:400px">
          </div>
        
                  <div class="carousel-item">
            <img class="d-block w-100" src="img/img5.jpg" height="450"alt="fifth slide" style="width:400px">
          </div>
        </div>
        </div>

        <a class="carousel-control-prev" href="#Slider-Main" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#Slider-Main" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
            </div>
        </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group">
            <input type="text" class="form-control" name ="nome" placeholder="Usuario">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha">
          </div>
          <button type="submit" class="btn btn-primary"> Login </button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="envioredacao" tabindex="-1" role="dialog" aria-labelledby="envioModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Envio de redação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="http://localhost:3000/redacao" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <h6>Nome:</h6>
            <input type="text" class="form-control" name ="nome" placeholder="Nome">
          </div>
          <div class="form-group">
            <h6>Email:</h6>
            <input type="text" class="form-control" name="email" placeholder="Email">
          </div>
          <div class="form-group">
          <h6>Tema: </h6>
          <select name="tema" id="idTema">
            <option active>Selecione o tema da Redação:</option>
            <% for (i in temas){%>
            <option value= "<%= temas[i]._id %>"> <%=  temas[i].nome  %> </option>
            <%}%>
          </select>
          </div>
           <div class="form-group">
            <h6>Titulo da Redação:</h6>
            <input type="text" class="form-control" name="titulo" placeholder="Titulo">
          </div>
         <div class="form-group">
          <h6>Selecionar Redação: </h6>
        <input type="hidden" name="MAX_FILE_SIZE" value="4194304" />
        <input type="file" name="redacao"/>  
          </div>
          <button type="submit" class="btn btn-primary"> Enviar </button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tema" tabindex="-1" role="dialog" aria-labelledby="temaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="redacaoModalLabel">Tema</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="text-center">Texto de apoio:</h3>

        <h6>Data Limite de envio:</h6>


           <button type="submit" class="btn btn-primary" ><a href="#"  data-dismiss="modal" aria-label="Close"  data-toggle="modal" data-target="#envioredacao" style="color: black;"> Enviar Redação </a></button>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<% for (i in redacoes){%>
<div class="modal fade" id="<%= redacoes[i]._id %>" tabindex="-1" role="dialog" aria-labelledby="<%= redacoes[i]._id %>Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%= redacoes[i]._id %>Label"><%= redacoes[i].titulo%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="text-center"><%= redacoes[i].tema %></h3>
        <a href=""> <p> <i class="far fa-file">&nbsp;</i> Redação Original </p></a>
         <a href=""> <p> <i class="fas fa-check">&nbsp;</i>Redação Corrigida </p></a>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<%}%>





<div class="container">
  <div class="row">
    <div class="col-9">
        <% for(j in redacoes) {%>
      <div class="card mb-2">
        <h5 class="card-header text-center"><%= redacoes[j].tema%></h5>
        <div class="card-body text-center">
          <h5 class="card-title"><%= redacoes[j].titulo%></h5>
          <a href="#<%= redacoes[j]._id %>" data-toggle="modal" data-target="#" class="btn btn-primary">Ver Redação</a>
        </div>
      </div>
      <%}%>
    </div>

    <div class="col-3 border border-warning">
      <h3 class="text-center card-header"> Temas </h3>
      <div class="alert alert-success" role="alert">
       <a href="#" class="alert-link" data-toggle="modal" data-target="#tema">Aqui um tema em aberto</a>
      </div>
      <div class="alert alert-success" role="alert">
        <a href="#" class="alert-link">Aqui um tema em aberto</a>
       </div>
       <div class="alert alert-light" role="alert">
        <a href="#" class="alert-link">Aqui um tema já fechado</a>
       </div>
       <div class="alert alert-light" role="alert">
        <a href="#" class="alert-link">Aqui um tema já fechado</a>
        
       </div>
    </div>
  </div>
</div>


</body>
</html>